@model New_Final_ET.Models.Actor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input type="file" onchange="getFile(this)" asp-for="FileName" name="FileForm" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                @*<input asp-for="File" class="form-control" />*@
            <img id="actorImage" height="200" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function getFile(data) {
            //const image = document.querySelector('img');
            const image = document.getElementById('actorImage')
            const reader = new FileReader();
            const file = data.files[0];

            reader.addEventListener("load", function () {
                image.src = reader.result;
            }, false);

            reader.readAsDataURL(file);

        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
